.about {
    padding: 56px 0 35px;
    background: #f2ede6;
}

.about .row-one {
    gap: 45px;
}

.about__heading {
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
}

.about__hero {
    padding: 45px 0 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__hero-left {
    padding-right: 16px;
}

.about__head {
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 45px;
}

.about__desc {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem;
}

.about__action {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 40px;
}

.about__action-btn {
    padding: 16px;
    color: #fff;
    background: #018294;
    border-radius: 8px;
    min-width: 120px;
    font-size: 1.6rem;
    transition: opacity 0.5s;
}

.about__action-btn:hover {
    opacity: 0.8;
}

.about__title {
    text-align: center;
    --line-clamp: 1;
    font-size: 5rem;
    font-weight: 600;
    margin: 12px 0;
}

.col-hover {
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 20px;
    background: #fff;
    border: 1px solid #018294;
    transition: transform 0.6s, box-shadow 0.6s, border-color 0.6s;
    cursor: pointer;
}

.col.col-hover:hover {
    border-color: #83e868;
    transform: translateY(-40px);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.3);
}

.about__img {
    display: block;
    width: 100%;
    height: 265px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: opacity 0.5s;
}

.about__title-child {
    text-align: center;
    --line-clamp: 1;
    font-size: 2.8rem;
    font-weight: 500;
    margin: 22px 0;
}

.about__desc-info {
    text-align: center;
    --line-clamp: 2;
    font-size: 1.6rem;
    font-weight: 400;
}

.about__groups-social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}

.about__social {
    gap: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__social-item {
    background: #fff;
    border-radius: 50%;
    border: 1px solid #018294;
    padding: 8px;
    transition: opacity 0.5s;
}

.about__social-item:hover {
    opacity: 0.6;
}

.about__social-link-first {
    padding: 4px;
}

.about__social-link-last {
    padding: 2px;
}

// 2
.about__wraps {
    margin-top: 35px;
    padding: 75px 0 35px;
}

.row-two {
    padding-top: 45px;
}

.row-two-two {
    padding-top: 15px;
}

.col-two {
    padding-top: 35px;
}

.about__title2 {
    text-align: center;
    font-size: 1.9rem;
    font-weight: 500;
    color: #676652;
}

.about__head2 {
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    color: #2d2d2d;
    margin: 25px 0;
}

.about__desc2 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    color: #676652;
}

.about__info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 16px;
    width: 100%;
    height: 380px;
    border-radius: 30px;
    background-color: #ffffff;
    border: 1px solid #018294;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.6s, box-shadow 0.6s, border-color 0.6s;
    cursor: pointer;
}

.about__info:hover {
    border-color: #83e868;
    transform: translateY(-40px);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.3);
}

.about__info-image {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 0 0 28px;
}
.about__info-stars {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.about__info-stars-icon {
    color: #fbbf24;
    cursor: pointer;
}
.about__info-name {
    --line-clamp: 1;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 500;
    margin: 22px 0 22px;
}
.about__info-description {
    --line-clamp: 3;
    text-align: center;
    color: #676562;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
}
