.producted {
    padding: 75px 0;
    background: #f2ede6;
}
.producted .row__coll {
    width: 33.3333%;
}

.producted__wrap-header-and-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.producted__header {
    font-size: 5rem;
    font-weight: 600;
}

.producted__wrap-cart-list {
    position: relative;
}

.producted__cart {
    font-size: 3rem;
    cursor: pointer;
}

.producted__cart-arrow {
    position: absolute;
    top: 32px;
    right: 5px;
    width: 20px;
    height: 20px;
    background: #fff;
    rotate: 45deg;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.producted__wrap-cart-list:hover .producted__cart-arrow {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.producted__wrap-cart-list:hover .product__cart--wrap {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.producted__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.producted__controls-button {
    display: flex;
    align-items: center;
    border: 1px solid #d1d5db;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
}
.producted__controls-button i {
    margin-right: 8px;
}
.controls__sort {
    display: flex;
    align-items: center;
}
.controls__sort-text {
    margin-right: 8px;
}
.controls__select-wrapper {
    position: relative;
}
.controls__select {
    border: 1px solid #d1d5db;
    padding: 8px 30px 8px 16px;
    border-radius: 4px;
    appearance: none;
    background-color: white;
    cursor: pointer;
}
.controls__select-icon {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.row__product-product {
    padding-top: 56px;
}
.product-card__image-child {
    display: block;
    width: 100%;
    height: 280px;
    object-fit: cover;
    transition: opacity 0.5s;
}
.product-card__image-child:hover {
    opacity: 0.8;
}
.product-card__button-child {
    background-color: #008080;
    width: 100%;
    padding: 12px 0;
    color: #fff;
    font-size: 1.6rem;
    transition: opacity 0.5s;
}
.product-card__button-child:hover {
    opacity: 0.8;
}
.product-card__details {
    padding: 16px 0;
}
.product-card__category {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-card__category-desc {
    --line-clamp: 2;
    color: #888;
    font-size: 1.6rem;
    line-height: 2.3rem;
}
.product-card__category-icon {
    cursor: pointer;
}
.product-card__title-child {
    --line-clamp: 2;
    font-size: 2rem;
    font-weight: bold;
    margin: 18px 0;
    line-height: 3rem;
}
.product-card__rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}
.product-card__rating-icon {
    color: #ffd700;
    font-size: 1.6rem;
}
.product-card__rating-desc {
    color: #888;
    margin-left: 4px;
    margin-right: auto;
    font-size: 1.6rem;
}
.product-card__price {
    margin-left: auto;
    color: #888;
    font-size: 1.6rem;
}

.product__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}

.product__actions-btn-last {
    padding: 16px;
    color: #fff;
    background: #018294;
    border-radius: 8px;
    min-width: 120px;
    font-size: 1.6rem;
    transition: opacity 0.5s;
}

.product__actions-btn-last:hover {
    opacity: 0.8;
}

// cart
.product__cart--wrap {
    position: absolute;
    top: 40px;
    right: 0;
    height: auto;
    max-height: 800px;
    overflow: auto;
    background: #fff;
    padding: 20px;
    visibility: hidden;
    z-index: 2;
    opacity: 0;
    transition: 0.5s;
    width: 380px;
}

.product__cart-item {
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 25px;
    transition: opacity 0.5s;
}

.product__cart-item:hover {
    opacity: 0.8;
}

.product__cart-item-wrap {
    width: 80px;
    height: 80px;
}

.product__cart-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.product__cart-item-desc {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.product__cart-item-title {
    --line-clamp: 1;
    margin-bottom: 24px;
}

.empty-cart-message-product {
    font-size: 3rem;
    color: red;
    text-align: center;
    margin-top: 16px;
    font-style: italic;
}

.total-price {
    margin-top: 45px;
    font-size: 3rem;
    text-align: center;
}

.remove-btn {
    margin: 14px 0 auto auto;
}
