.sign__up {
    background: #f2ede6;
}

.container__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__singUp {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 350px;
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 20px;
    position: relative;
}

.title__signUp {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.title__signUp::before,
.title__signUp::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
}

.title__signUp::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
}

.title__signUp::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}

.message__signUp,
.signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
}

.signin {
    text-align: center;
}

.signin a {
    color: royalblue;
}

.signin a:hover {
    text-decoration: underline royalblue;
}

.flex__signUp {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form__singUp label {
    position: relative;
}

.form__singUp label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

.form__singUp label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form__singUp label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
}

.form__singUp label .input:focus + span,
.form__singUp label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}

.form__singUp label .input:valid + span {
    color: green;
}

.submit__signUp {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 12px;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    transition: opacity 0.5s, background-color 0.5s;
}

.submit__signUp:hover {
    opacity: 0.8;
    background-color: rgb(56, 90, 194);
}

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}
