<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../assets/css/main.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
            integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
    </head>
    <body>
        <div class="container">
            <div class="footer__inner">
                <div class="footer__wrap">
                    <h2 class="footer__title">All eCommerce CMS platforms supported</h2>
                </div>
                <p class="footer__desc">
                    Magento 2, Shopify, WooCommerce, BigCommerce, Opencart and more.
                </p>
                <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1">
                    <div class="col">
                        <a href="#!"
                            ><img
                                src="./assets/icons/Frame.png"
                                alt=""
                                class="footer__group"
                                onerror="this.onerror=null; this.src='https://placehold.co/150x60';"
                        /></a>
                    </div>
                    <div class="col">
                        <a href="#!"
                            ><img
                                src="./assets/icons/Frame (1).png"
                                onerror="this.onerror=null; this.src='https://placehold.co/150x60';"
                                alt=""
                                class="footer__group"
                        /></a>
                    </div>
                    <div class="col">
                        <a href="#!"
                            ><img
                                src="./assets/icons/Frame (2).png"
                                onerror="this.onerror=null; this.src='https://placehold.co/150x60';"
                                alt=""
                                class="footer__group"
                        /></a>
                    </div>
                    <div class="col">
                        <a href="#!">
                            <img
                                src="./assets/icons/Frame (3).png"
                                onerror="this.onerror=null; this.src='https://placehold.co/150x60';"
                                alt=""
                                class="footer__group"
                        /></a>
                    </div>
                    <div class="col">
                        <a href="#!"
                            ><img
                                src="./assets/icons/Frame (4).png"
                                onerror="this.onerror=null; this.src='https://placehold.co/150x60';"
                                alt=""
                                class="footer__group"
                        /></a>
                    </div>
                </div>
                <div class="footer__groups">
                    <div class="footer__content">
                        <h1 class="footer__group-title">Try Sortler For Free!</h1>
                        <button class="footer__button">Book a Demo</button>
                        <ul class="footer__list">
                            <li class="footer__list-item">
                                <i class="fas fa-check-circle"></i>
                                NO Coding needed, Plug-&-Play.
                            </li>
                            <li class="footer__list-item">
                                <i class="fas fa-check-circle"></i>
                                All eCommerce platforms supported
                            </li>
                        </ul>
                    </div>
                    <div>
                        <img
                            src="./assets/imgs/Vector (1).png"
                            onerror="this.onerror=null; this.src='https://placehold.co/256x256';"
                            alt="Illustration of a person holding a paper airplane"
                            class="footer__image"
                        />
                    </div>
                </div>
                <div class="footer__menus">
                    <div class="footer__logo">
                        <a href="/"
                            ><img
                                src="./assets/icons/Logo.png"
                                alt="Logo"
                                class="footer__img-logo logo"
                        /></a>
                    </div>
                    <nav class="footer__nav">
                        <ul class="footer__list-menu">
                            <li class="footer__list-menu-item">
                                <a href="/pricing.html" class="nav__link-footer"
                                    >Pricing</a
                                >
                            </li>
                            <li class="footer__list-menu-item">
                                <a href="#!" class="nav__link-footer">Company</a>
                            </li>
                            <li class="footer__list-menu-item">
                                <a href="#!" class="nav__link-footer">Company</a>
                            </li>
                            <li class="footer__list-menu-item">
                                <a href="#!" class="nav__link-footer">Contact us</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="footer__groups-social">
                        <div class="footer__social">
                            <a href="#!" class="footer__social-link">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#!" class="footer__social-link">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#!" class="footer__social-link">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../assets/script/styles.js"></script>
    </body>
</html>
